.HomePageBody {
    width: 100%;
    height: 100%;
    display: flex; 
}


.best-movies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    justify-content: space-around;
} 

.best-movies img{
    height:350px;
    width: 270px;  
} 

.top-rated-movies {
    margin: 20px;
} 
.top-rated-movies img{
    width: 400px;
    height: 600px;
   
} 

.rated-movie {
    font-weight: 900;
}

img.rating-star {
    height: 20px;
    width: 20px;
    
}
