div.add-movie-page-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px; 
}

img.movie-camera {
    width: 60px;
    height: 60px;
    margin: 5px;
    
}

.add-movie-container {
    width: 40%;
    height: 90%;
}

.inputs-container {
    margin-top: 340px;
    margin-left: 50px;
}



.added-movie-container {
    width: 400px;
    height: fit-content;
    margin: 1px;
    border: 2px solid black;
    align-content: center;
}

/* img.rating-star {
    display: none;
} */

.movie-card-title,
.movie-card-imdb-Rating,
.img-container{
    justify-content: center;
    display: flex;
    font-size: 13px;
    font-weight: 700;
}
