.SearchMoviePageBody{
    height: 100%;
    width: 100%;
}

.searchPage-Inputs-Container{
    display: flex;
    flex-wrap: wrap;
}

.input-Container{
    display: flex;
    align-items: center;
    /* border-right: 1px solid black; */
} 

.search-input,
.search-label{
    width: fit-content;
    margin: 10px;
}

.search-label{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.search-input{
    border: 2px solid darkgray;
    border-radius: 5px;
}

.searchMoviePage-button{
    margin-right: 30px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

h2 {
    color:red;
    text-align: center;
    text-shadow: 2px 2px 3px black;
}

.Movie-Found-Container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.search-movie-card{
    width: 230px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

.search-movie-card .title-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px;
}

.search-movie-card .movie-card-title{
    font-size: 14px;
    font-weight: 900;
    margin: 5px;
    height: 60px;
}

.search-movie-card .movie-card-img{
    margin-left: 4px;
    margin-bottom: 4px;
    height: 300px;
    width: 210px;
    border-radius: 3px;
 }