.LogInBody{
  height: 100%;
  width: 100%;
  display: flex;
}

.movie-glasses{
    width: 400px;
    margin-left: 600px;
    margin-bottom: 100px;
}

.Inputs-Container{
  margin-top: 340px;
  margin-left: 50px;
}

.input-container-label{
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.input-container-input{
  width: 200px;
  height: 30px;
  border: 2px solid darkgray;
  border-radius: 5px;
  padding: 5px;
}

.buttons-container{
  margin: 40px;
}

.create-account-button,
.log-in-button{
  margin-right: 30px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 15px;
}
