.MovieDetailsPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: chartreuse; */
    margin: 10px;
}

.hidden{
    display: none;
}

.page-title-container{
    display: flex;
    /* background-color: chocolate; */
    margin: 20px;
    font-size: 30px;
    height: 70px;
    width: 90%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#233f5f;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 600px;
    margin-top: 0px;
    /* background-color: crimson; */
    width: 360px;
    height: 70px;
}

.page-body-container {
    display: flex;
    flex-direction: row;
    height: 80%;
    background-color: darkmagenta;
    margin: 20px;
}

.movie-details-poster-button-container{
    display: flex;
    flex-direction: column;
    height: 560px;
    /* background-color: maroon; */
    margin: 10px;
}

.movie-details-button-container {
    display: flex;
    justify-content:flex-end;
}


.movie-details-edit-button{
    /* background-color: honeydew; */
    margin: 1px;
    width: 60px;
    border-radius: 5px;
}

.movie-details-delete-button{
    margin: 1px;
    width: 60px;
    padding: 2px;
    border-radius: 5px;
}

.MovieInformationContainer{
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 50px;
    width: 70%;
    height: 600px;
    margin: 20px;
    background-color: darkslategrey;
}

.title-container,
.year-container,
.imageURL-container,
.released-container,
.runtime-container,
.genre-container,
.director-container,
.actors-container,
.plot-container,
.country-container,
.imdbRating-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    /* background-color: deepskyblue; */
}

.MovieInformationContainer-label{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: firebrick;
}

.title-MovieInformationContainer-label {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
}

.MovieInformationContainer-input {
    font-weight: 300;
}
 
.show {
    display: flex;
    flex-direction: row;
    /* justify-content:flex-start; */
    align-items: center;
    height: 35px;
    width: 85%;
    font-size: 15px;
    background-color: yellow

}
.MovieInformationContainer-label .show {
    background-color:blue;
    width: 300px;

    margin: 2px;
    height: 20px;
}


.title-container .show {
    display: flex;
    flex-direction: row;
}

.movie-details-button-edit-container {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    /* background-color: yellow; */
}

.movie-details-save-button {
    margin: 2px;
    border-radius: 5px;
    width: 60px;

}

.movie-details-cancel-button {
    margin: 2px;
    border-radius: 5px;
    width: 60px;
}


.Poster-Container{
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 32px;
    background-color: black;

}

.poster-img{
    height: 450px; 
    margin: 5px;
    border-radius: 5px;
}

.Inputs-Container{
    margin-top: 340px;
    margin-left: 50px;
}
   
.MovieInformationContainer-input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}

