.movie-card {
    margin: 10px;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 5px;
}

.title-container { 
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px 5px 5px 5px;
}

.movie-card-title {
    display: flex;
    font-size: 13px;
    font-weight: 700;
}

.movie-card-imdb-Rating {
    height: 5px;
    font-weight: 700;
    
}

