.header {
    height: 70px;
    background: rgb(128, 125, 117);
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 5px 5px 5px 5px;   
}

.navigation-buttons{
    margin-left: auto;
    margin-right: 15px; 
}