.input-Container{
    display: flex;
    margin: 20px;
}

.input-container-label,
.input-container-input{
    font-family: cursive;
    font-size: large;
    width: 100%;
  }
  
.input-container-label{
    margin-left: 300px;
    padding: 10px;
}

.input-container-input{
    width: 100%;
    
}