.CreateAccountBody{
  height: 100%;
  width: 100%;
  display: flex;
}

.pop-suc{
  margin-top: 100px;
  width: 400px;
  height: 450px;
  margin-left: 300px; 
} 

div.Inputs-Container{
  margin-top: 250px;
  margin-left: 60px;
}

.user-createAccount-label, 
.pass-createAccount-label,
.retype-createAccount-label{ 
  color:#233f5f;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.user-createAccount-input,
.pass-createAccount-input,
.retype-createAccount-input{
  width: 200px;
  height: 30px;
  border: 2px solid darkgray;
  border-radius: 5px;
  padding: 5px;
}

.user-createAccount-label, 
.pass-createAccount-label{
  margin-left: 110px;
}

.pass-createAccount-input {
  margin-left: 10px;
}

.create-account-button-container{
  margin: 40px;
  margin-left: 360px;  
}

.createAccountButton{
  color:#233f5f;
  margin-right: 30px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 15px;
}