.CreateAccountBody{
  height: 100%;
  width: 100%;
}

.CreateAccountBody{
    display: flex;
    margin: auto;
    width: 600px;
    padding: 10px;;
  
  }
  
  .pop-suc{
      width: 20%;
      justify-content: center;
      overflow: auto;
      margin: 0;
      position: fixed;
      top: 50%;
      left: 30%;
      transform: translate(0, -50%) 
  }
  
  .Inputs-Container{
    margin: 0;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%) 
  }
  
  .buttons-container{
    right: 0;
    bottom: 0;
    display: table;
    margin-left: auto;
  }
  
  div.log-in-button button{
    margin-right: 50px;
    width: 100px;
    height: 40px;
    vertical-align: text-bottom;
  }
  
  div.create-account-button button{
    margin-right: 100px;
    width: 150px;
    height: 40px;
    vertical-align: text-bottom;
  }
  