.CreateAccountBody{
  height: 100%;
  width: 100%;
  display: flex;
}

.pop-suc{
    margin-top: 230px;
    width: 400px;
    height: 450px;
    margin-left: 600px;
}

.Inputs-Container{
  margin-top: 340px;
  margin-left: 50px;
  
}

.createAccount-label{
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.createAccount-input{
  width: 200px;
  height: 30px;
  border: 2px solid darkgray;
  border-radius: 5px;
  padding: 5px;
}

.create-account-button-container{
  margin: 40px;
  margin-left: 100px;
}

.createAccountButton{
  margin-right: 30px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 15px;
}