.App,
body,
html {
  width: 100%;
  height: 100%;
  background-image: url("Background-opaque2.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

.HomePageBody{
  background-image: url("Background-opaque2.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}